#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader-container #loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: red;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
#loader-container #loader::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #7a1bff;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader-container #loader::after {
  content: "";
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #481392;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#loader-container .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #020312;
}
#loader-container .loader-section.section-left {
  left: 0;
}
#loader-container .loader-section.section-right {
  right: 0;
}
#loader {
  z-index: 1001;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

.loaded #laoder-container .loader-section.section-left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.loaded #laoder-container .loader-section.section-right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.loaded #loader-container {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
          
  -webkit-transition: all .3s 1s ease-in-out;
          transition: all .3s 1s ease-in-out;
}
.loaded #laoder-container .loader-section.section-left,
.loaded #laoder-container .loader-section.section-right {
  -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}